

.mypage_content {
    width : 92vw;
    height: 92vh;
}

.date_bar {
    display: flex;
    height: 5vh;
    width: 95vw;
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center;
    background-color: #FFC6C6;
}

.date_text{
    font-size: 1.5rem;
    color: white;
}
