#container h1{
  padding: 10px 0px;
  text-align: center;
  font-size: 30px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

/* 캘린더 */
.calendar {
  width: 50%;
  padding-right: 20px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar th, .calendar td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.calendar td {
  height: 100px;
  text-align: left;
  position: relative; /*숫자 고정을 위해 추가*/
}

.calendar td span {
  position: absolute; /* 숫자를 고정 */
  top: 10px;          /* 위에서부터 10px 위치 */
  left: 10px;         /* 왼쪽에서부터 10px 위치 */
  font-weight: bold;  /* 숫자를 굵게 */
}

/* 기본 workout-entry 스타일 */
.workout-entry {
  font-size: 13px;
  margin-top: 5px;
}

.저강도-intensity {
  color: blue;
}

.중강도-intensity {
  color: green;
}

.고강도-intensity {
  color: red;
}

.settings {
  width: 40%;
}

label {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  display: block;
  margin-bottom: 24px;
  text-align: center;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

input {
  width: 25%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.save-btn {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #ccc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #000000;
}


