body {
  font-family: Arial, sans-serif;
}


/* Container Styles */
.intake-progress-container, .intake-input-container {
  position: relative;
  /* left: 100px; */
  margin: 20px;
  padding: 20px;
  font-size: 1.2rem;
  background-color: #201E43;
  border-radius: 15px;
  color: white;
  max-width: 500px;
}

.intake-progress-container {
  /* top: 200px; */
  font-weight: bold; /* intake-progress-container에만 필요한 스타일 */
}

.intake-input-container {
  /* top: 250px; */
  text-align: center; /* intake-input-container 고유 스타일 */
}

/* Calendar Styles */
.calendar-container {
  position: absolute;
  top: 120px;
  right: 100px;
  width: 50%;
  text-align: right;
  overflow: hidden;
}

.calendar-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.calendar-container table {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
  border: none;
 

}
.table-wrapper{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.calendar-container th {
  width: calc(100% / 7);
  height: calc(100% / 6);
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #201E43;
  color: white;
}

.calendar-container td {
  text-align: left;
  vertical-align: top;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Progress Bar Styles */
progress {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background-color: #508C9B;
  border-radius: 5px;
}
::-webkit-progress-value {
  background-color: rgb(0, 195, 255);
}
/* Text Styles */
.progress-text, .intake-progress {
  text-align: left;
}

.progress-text {
  margin-top: 10px;
  font-size: 14px;
  color: #e0e0e0;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}

/* Custom Progress Bar */
.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin-top: auto;
}

.progress {
  height: 100%;
  background-color: #508C9B;
  transition: width 0.5s ease;
}

/* Input Styles */
.intake-input-container input {
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 155px;
}

.intake-input-container button {
  padding: 10px 20px;
  background-color: #508C9B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


